
$font-family1: "Fresca", sans-serif;
$font-family2: "Source Sans Pro", sans-serif;

$header-background: url(../img/m-h-night.jpg);

$color-base: #3b3f50;
$colorBody: #2c2f3c;
$colorButton:rgb(227,172,0);
$colorAfter: rgb(239,73,48);
$bgGradient: linear-gradient(-90deg, rgb(146,44,82), rgb(227,172,0));
$colorText:  #fff;
$colorBorder:#2c2f3c;

$color-white: #fff;
$color-grey: #c3cace;

$lineheLight: 20px;