
$font-family1: "Hind", sans-serif;
$font-family2: "Source Sans Pro", sans-serif;

$header-background: url(../img/m-h-day.jpg);

$color-base: #2c2f3c;
$colorBody: #fff;
$colorButton: #699900;
$colorAfter: #0096cc;
$bgGradient: linear-gradient(-90deg, #2b59dc, #689805);
$colorText:  #2c2f3c;
$colorBorder:#fff;

$color-white: #fff;
$color-grey: #c3cace;


$lineheLight: 20px;

